<div class="col" id="card">
  <div class="card" style="max-width: 255px;">
    <div>
        <img 
          routerLink="/menu-item"
          [queryParams]="{itemId: item.key}"
          [src]="item.imageUrl" class="card-img-top" style="height: 14rem; max-width:  255px;">
        <b
        class="text-center lb"
        > {{ item.label }} 
      </b>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge badge-primary">
          {{ item.title }}
        </span>
        <span class="badge badge-primary">
            {{ item.price | currency:'USD':true }}
          </span>
      </h5>
      <h5>
      <a 
        routerLink="/menu-item"
        [queryParams]="{itemId: item.key}"
        class="card-title">
          <span 
            class="badge btn btn-outline-primary">
            More info
          </span>
      </a>
      </h5>
    </div>
    <div *ngIf="showActions" class="card-footer">
        <button
          *ngIf="getQuantity() === 0; else updateQuantity"
          (click)="addToOrder()"
          class="btn btn-outline-primary btn-block">Add To Order</button>
          <ng-template #updateQuantity>
            <div class="row no-gutters">
              <div class="col-2">
                <button
                (click)="removeFromCart()"  
                class="btn btn-outline-primary btn-block">-</button>
              </div>
              <div class="col text-center">
                {{ getQuantity() }} in Order 
              </div>
              <div class="col-2">
                <button 
                  (click)="addToOrder()"
                  class="btn btn-outline-primary btn-block">+</button>
              </div>
            </div>
          </ng-template>
    </div>
  </div>
</div> 